<link rel="manifest" href="/manifest.json">
<body id="SigninForm">
  <div class="container">
    
    <div class="signin-form">
      <div class="main-div">
        <div class="panel">
          <h2>Register</h2>
        </div>
      
        <form #signinf="ngForm" (ngSubmit)="signIn(signinf)">
          <div class="form-group">
              <input class="form-control" ngModel #firstname="ngModel" type="text" name="firstname" id="firstname"  placeholder="Name">
            </div>

          <div class="form-group">
              <input class="form-control" ngModel #lastname="ngModel" type="text" name="lastname" id="lastname" placeholder="Last name">
            </div>

          <div class="form-group">
            <input type="email" class="form-control"  ngModel #email="ngModel" name="email" id="email" placeholder="Email Address">
          </div>

          <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" placeholder="Check email">
          </div>

          <div class="form-group">
            <input type="password" class="form-control" ngModel #password="ngModel" name="password" id="password" placeholder="Password">
          </div>

          <div class="form-group">
            <input type="password" class="form-control" id="inputPassword" placeholder="Check Password">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ngModel #date="ngModel" name="date" placeholder="Your Birth Date gg/mm/aaaa">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ngModel #city="ngModel" name="city" placeholder="Your City">
          </div>
          
          
          <button type="submit" class="btn btn-primary">Register</button>          


        </form>
      </div>
    </div>
  </div>
</body>