
<body id="SigninForm">
  <div class="container">
    
    <div class="signin-form">
      <div class="main-div">
        <div class="panel">
          <br><br><h2>Pagina di Registrazione</h2>
        </div>
      
        <form #signinf="ngForm" (ngSubmit)="signIn(signinf)">
          <div class="form-group">
              <input class="form-control" ngModel #firstname="ngModel" type="text" name="firstname" id="firstname"  placeholder="Nome">
            </div>

          <div class="form-group">
              <input class="form-control" ngModel #lastname="ngModel" type="text" name="lastname" id="lastname" placeholder="Cognome">
            </div>

          <div class="form-group">
            <input type="email" class="form-control"  ngModel #email="ngModel" name="email" id="email" placeholder="Indirizzo E-Mail">
          </div>

          <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" placeholder="Ripeti E-Mail">
          </div>

          <div class="form-group">
            <input type="password" class="form-control" ngModel #password="ngModel" name="password" id="password" placeholder="Password">
          </div>

          <div class="form-group">
            <input type="password" class="form-control" id="inputPassword" placeholder="Ripeti Password">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ngModel #date="ngModel" name="date" placeholder="Data di nascita gg/mm/aaaa">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ngModel #city="ngModel" name="city" placeholder="La tua città">
          </div>
          
          
          <button type="submit" class="btn btn-primary">Registrati</button><br>   
          <br><button href=”javascript:history.back()” class="btn btn-blue">Annulla</button>     


        </form>
      </div>
    </div>
  </div>
</body>