#title{
    color: #fb3845;
    font-family: 'Arial Narrow';
    font-size:30px;
    text-align: center;
}

.list-group{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: fit-content;
}
#first{
    color: black;
    font-family: 'Gill Sans';
    font-size: 20px;
    text-align: center;
}
#bottoneCrea{
        position: absolute; 
        left: 0; 
        right: 0; 
        margin-top: 10%;
        margin-left: auto; 
        margin-right: auto; 
        width: fit-content; /* Need a specific value to work */
        color: #fb3845;
        background-color: black;
      }
.btn-primary{
    background-color: black;
}
