<h2 align="center">Se hai bisono di supporto non esitare a contattarci!</h2>
<div class="immagine1"><a href="" target="_blank"><img src="src/app/assets/images/"  height="200px" width="200px"></a>
<h3>Nome Amministratore</h3>
</div>
    <div class="immagine2">
    <a href="" target="_blank"><img src="src/app/assets/images/" height="200px" width="200px"></a>
    <h3>Nome Amministratore</h3>
</div>
    <div class="immagine3">
    <a href="https://www.facebook.com/djkon96" target="_blank"><img src="src/app/assets/images/francesco.jpg" height="200px" width="200px"></a>
    <h3>Francesco Nuzzo</h3>
</div>