.list-group{
    align-items: center;
}
#mostra{
position: absolute; 
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width: fit-content; /* Need a specific value to work */
        color: #fb3845;
        background-color: black;
}
#title{
    margin-top:10px;
    font-family: 'Lucida Sans';
    color: #fb3845;
    font-size: 20px;
    text-align: center;
}

#cityEvent{
    margin-top: 10px;
}

#allEvents{
    margin-top: 50px;
}
