#sidenavComponent{
    margin-top: 80px;
    color: rgb(255, 0, 0);
}
.navbar{
    background-color: #000000;
    color: rgb(255, 0, 0);
}
.nav-item{
    color: rgb(255, 0, 0);
}
.navbarSupportedContent{
    color: rgb(255, 0, 0);
}